* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-red: hsl(14, 86%, 42%);
  --clr-green: hsl(159, 69%, 38%);
  --clr-white: hsl(20, 50%, 98%);
  --clr-rose100: hsl(13, 31%, 94%); /*big background */
  --clr-rose300: hsl(14, 25%, 72%); /*background div*/
  --clr-rose400: hsl(7, 20%, 60%);
  --clr-rose500: hsl(12, 20%, 44%); /*h3?*/
  --clr-rose900: hsl(14, 65%, 9%); /* h2*/
}

body {
  font-size: 16px;
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--clr-rose100);
}

h1 {
  color: var(--clr-rose900);
  padding-bottom: 10px;
}

h2 {
  color: var(--clr-rose900);
  font-weight: 600;
  font-size: 16px;
}

h3 {
  color: var(--clr-rose500);
  font-weight: 400;
  font-size: 14px;
}

.price {
  color: var(--clr-red);
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
}

.container {
  margin: 22px;
}

.option {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.image-section {
  position: relative;
  width: 100%;
  height: 200px;
  /* display: grid; */
}

.add-to-cart {
  position: absolute;
  bottom: -32px;
  left: 30%;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid var(--clr-rose500);
  padding: 10px 20px 10px 42px;
  font-weight: 600;
  color: var(--clr-rose900);
  background-image: url(assets/images/icon-add-to-cart.svg);
  background-repeat: no-repeat;
  background-position: 15px center;
}

.card-counter-btn {
  background-color: var(--clr-red);
  color: var(--clr-white);
  position: absolute;
  bottom: -32px;
  left: 30%;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  height: 40px;
  width: 8.6rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  gap: 10px;
  /* align-items: center; */
  /* justify-self: center; */
}

.counter-btn {
  background-color: var(--clr-red);
  color: var(--clr-white);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--clr-white);
  /* padding: 5px 10px; */
  width: 20px;
  height: 20px;
  font-size: 18px;
  align-content: center;
  justify-self: center;
}

.option-quantity {
  text-align: center;
  font-size: 13px;
}

.text-section {
  display: grid;
  gap: 3px;
  margin-top: 42px;
  margin-bottom: 8px;
}

.cart {
  background-color: var(--clr-white);
  background-image: url(assets/images/illustration-empty-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  padding: 22px;
  border-radius: 12px;
}
.your-cart-h {
  color: var(--clr-red);
  font-size: 26px;
  font-weight: 900;
}

.cart p {
  color: var(--clr-rose500);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  
}